.JTitle{

  color:black !important
  ;


}

body{

  background-color:lavender !important;

}

.jumbotron{

  background-color: white !important;

}

.navbar{


  background-color: white !important;

}

#text{


  color: black !important;

}